/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #fea526;
    border-color:#fea526
}

.list-group-item:not(.active) {
    color:#1D1E23;
}

.list-group-item:not(.active):hover {
    color:#fea526;
}
.btn-group{
	background-color: #fff;
}

.btn, .btn-default:hover{
background-color: #fea526!important;
}

.brands{
	height: auto;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color: white!important;*/
	margin-top: 1rem;
	padding: 1rem;
}

#designer{
	font-family: Diplomata SC, sans-serif!important;
}
#designer:hover{
	color: #fea526;
}

#bolded{
	font-weight:800!important;
	color: #fea526!important;
}

#manufacturer{
	color: #fea526;
}

#feature{
	text-align: center;
}
#thin{
	font-weight: normal!important;
	font-style: italic!important;
}
i{
	color:#fea526;
}
.carousel-item img{
	width: 100%;
}

.carousel-ctrl-next-icon{
	color: #fea526!important;
}
.card-block{
	text-align: center;
	background-color: #1D1E23;
	color: white;
}
.view img{
	width: 100%;
	height: 100%;
	text-align: center;
}

/*.cardholder{
	height: 350px!important;
}*/