/* YOUR CUSTOM STYLES */
/*banner styles*/
* {margin: 0; padding: 0;}


#container {
	width: 2000px;
	overflow: hidden;
	margin: 50px auto;
	background: white;
}

.photobanner {
	height: 200px;
	width: 3550px;
	margin-bottom: 80px;
}

.photobanner img{
	width: 350px;
	height: 233px;
}

.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

/*end banner styles*/



.hidden{
	display: none;
}
.list-group-item.active {
    background-color: #ff2400;
    border-color:#ff2400
}

.list-group-item:not(.active) {
    color:#1D1E23;
}

.list-group-item:not(.active):hover {
    color:#ff2400;
}
.btn-group{
	background-color: #fff;
}

.btn, .btn-default:hover{
background-color: #ff2400!important;
}

.brands{
	height: auto;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color: white!important;*/
	margin-top: 1rem;
	padding: 1rem;
}

.descrip{
	font-family: Lato, sans-serif;
	font-size: 1.2rem;
}

#designer{
	font-family: Diplomata SC, sans-serif!important;
}
#designer:hover{
	color: #ff2400;
}

.bolded{
	font-weight:900!important;
	color: #ff2400!important;
}

#manufacturer{
	color: #ff2400;
}

#feature{
	text-align: center;
}
#thin{
	font-weight: normal!important;
	font-style: italic!important;
}
i{
	color:#ff2400;
}
.carousel-item img{
	width: 100%;
	height: 500px;
}

/*.carousel-caption h4{
	font-size: 2rem;
	font-weight: 900;
	color: #ff2400;
}*/

.carousel-ctrl-next-icon{
	color: #ff2400!important;
}
.card-block{
	text-align: center;
	background-color: #1D1E23;
	color: white;
}
.view img{
	width: 100%;
	height: 170px;
	text-align: center;
}

#here, #here:hover{
	color: #ff2400;
}
/*.cardholder{
	height: 350px!important;
}*/

.banner{
	width: 100%;
	height: 450px;
}